@font-face {
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-family: 'Roboto';
}

@font-face {
  src: url(fonts/Roboto/Roboto-Medium.ttf);
  font-family: 'Roboto-Medium';
}

@font-face {
  src: url(fonts/Inter/Inter-Light.otf);
  font-family: 'Inter-Light';
}

@font-face {
  src: url(fonts/Inter/Inter-Regular.otf);
  font-family: 'Inter';
}

@font-face {
  src: url(fonts/Inter/Inter-Medium.otf);
  font-family: 'Inter-Medium';
}

* {
  outline: none;
  font-family: 'Roboto';
}

:root {
  --header-bar-height: 56px;
  --star-violet: #645ba6;
  --star-green: #5ba678;

  /** rgba **/
  --star-violet_rgb: 100, 91, 166;
  --star-green_rgb: 91, 166, 120;
}

body {
  margin: 0;
  background-color: #f4f7f6;
}

.h1 {
  margin: 6px 0;
  font-family: 'Inter-Light';
  font-size: 93px;
  letter-spacing: -0.15px;
}

.h4 {
  margin: 6px 0;
  font-family: 'Inter';
  font-size: 33px;
  letter-spacing: 0.25px;
}

.h6 {
  margin: 6px 0;
  font-family: 'Inter-Medium';
  font-size: 19px;
  letter-spacing: 0.15px;
}



button {
  min-width: 64px;
  min-height: 36px;
  padding: 0 16px;
  border: none;
  background-color: rgba(182, 190, 209, 0.24);
  color: rgb(32, 40, 59);
  font-family: 'Roboto-Medium';
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

button:hover {
  background-color: rgba(182, 190, 209, 0.36);
}

button:active {
  background-color: rgba(182, 190, 209, 0.48);
}

button.suggested {
  background-color: var(--star-green);
  color: rgba(255, 255, 255, 0.87);
}

button.suggested:hover {
  background-color: rgba(var(--star-green_rgb), 0.96);
}

button.suggested:active {
  background-color: rgba(var(--star-green_rgb), 0.90);
}



input {
  padding: 10px 12px;
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Inter';
  font-size: 16px;
  letter-spacing: 0.15px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.6);
  /* font-family: 'Roboto';
  letter-spacing: 0.4px; */
}

input:focus {
  box-shadow: 0 0 0 2px var(--star-violet);
}



.header-bar {
  position: sticky;
  width: auto;
  height: var(--header-bar-height);
  padding: 0 12px;
  background-color: var(--star-violet);
  box-shadow: 0 -10px 10px 10px rgba(var(--star-violet_rgb), 0.36);
  color: rgba(255, 255, 255, 0.87);
}

.header-bar div {
  margin: 0 8px;
  float: left;
  line-height: var(--header-bar-height);
}

.header-bar button {
  height: var(--header-bar-height);
  padding: 0 calc(var(--header-bar-height) / 3);
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Inter';
  font-size: 16px;
  letter-spacing: 0;
}

.header-bar button:hover {
  background-color: red;
}

.header-bar button:active {
  background-color: blue;
}

/* .header-bar > div * {
  margin: 0 6px;
  /* color: rgba(255, 255, 255, 0.87);
  color: #ffffff;
  font-family: 'Inter';
  text-decoration: none;
} */


.block {
    height: auto;
    overflow: auto;
}

div.gallery a {
    background-color: #fcfcfc;
}

div.gallery {
    margin: 18px;
}

div.gallery:hover {
    box-shadow: 0 0 12px 0 rgba(103, 58, 183, .24);
    transition: 100ms;
}

div.gallery img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
}

div.desc {
    min-height: 60px;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    padding: 13px 15px 15px 18px;
    background-color: #fcfcfc;
    text-align: left;
}

div.desc .gallery-desc {
    font-weight: 700;
    font-size: 16px;
    color: #673AB7
}

* {
  box-sizing: border-box;
}

.responsive {
  float: left;
  width: 33.33%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/*** login form ***/

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  padding: 24px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
}

.form-popup * {
  box-sizing: border-box;
}

.form-popup button {
  width: 100%;
}

.form-popup #login {
  margin-top: 18px;
  margin-bottom: 8px;
}

/* .form-container {
  max-width: 350px;
  padding: 24px;
  background-color: white;
} */

.input-container {
  margin: 8px 0;
}

.input-container label {
  display: inline-block;
  margin: 8px 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  letter-spacing: 0.4px;
}

.input-container input {
  width: 100%;
}

/* .form-container .btn {
  width: 100%;
  margin-bottom:10px;
  padding: 16px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  opacity: 0.8;
} */
