/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/Roboto/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Roboto/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* muli-regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Muli/muli-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/Muli/muli-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Muli/muli-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Muli/muli-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Muli/muli-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/Muli/muli-v19-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Montserrat/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/Montserrat/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Montserrat/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Montserrat/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Montserrat/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/Montserrat/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* muli-700 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Muli/muli-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/Muli/muli-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Muli/muli-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Muli/muli-v19-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/Muli/muli-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/Muli/muli-v19-latin-700.svg#Muli') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0px;
    background-color: #f4f7f6;
}

.container {
    position: relative;
    top: 0;
    height: 100%;
}

#body {
    overflow: hidden;
    height: auto;
    color: #212121;
    padding: 24px 48px 48px 48px;
}

#body-works {
    padding: 48px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E0E0E0;
    trans
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#7C4DFF, #673AB7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(#9575CD, #7E57C2);
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
    background-image: linear-gradient(#6200EA, #512DA8);
}

h1 {
    font-size: 96px;
    padding: 0;
    margin: 0
}

h2 {
    font-size: 60px;
    padding: 0;
    margin: 0
}

h3 {
    font-size: 48px;
    padding: 0;
    margin: 0
}

h4 {
    font-size: 34px;
    padding: 0;
    margin: 0
}

h5 {
    font-size: 24px;
    padding: 0;
    margin: 0
}

h6 {
    font-size: 20px;
    padding: 0;
    margin: 0
}

.body-1 {
    font-size: 16px;
    padding: 0;
    margin: 0
}

.deep_purple-300 {
    color: #9575CD;
}

.deep_purple-400 {
    color: #7E57C2;
}

.deep_purple-500 {
    color: #673AB7;
}

.header-text {
    font-size: 20px;
    font-weight: 700;
    padding-left: 18px;
}

.navbar {
    color: #212121;
    width: 100%;
    height: auto;
    padding: 4px 16px 12px 16px;
}

.navbar-social {
    height: 24px;
    padding-right: 6px;
}

.social-icons {
    height: 16px;
}

.social-icons:hover {
    filter: invert(.5);
}

.navbar-tab {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgba(244, 247, 246, 0.95);
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.navbar-tab a {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: #424242;
    display: inline-block;
    float: none;
    padding: 16px 24px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.navbar-tab a.selected {
    font-weight: 700;
    color: #673AB7;
    border-bottom: 3px solid #7C4DFF;
}

.navbar ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    height: 18px;
    margin: 12px 14px;Skills
    color: white;
    text-align: center;
    text-decoration: none;
}

.footer {
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 60px 48px 0;
    text-align: center;
    background-color: white;
    border-top: 1px solid #E6EAEA;
}

.column {
    float: left;
    padding: 24px;
    width: 50%;
}

.column-3 {
    float: left;
    padding: 24px;
    width: 33.33%;
}

#home_column-left {
    width: 45%;
}

#home_column-right {
    width: 55%;
}

#profile_column-1 {
    width: 40%;
}

#profile_column-2 {
    width: 30%;
}

#profile_column-3 {
    width: 30%;
}

#skills_column-1 {
    width: 40%;
}

#skills_column-2 {
    width: 60%;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    color: #673AB7;
    transition: 100ms;
}

.footer .column-social {
    float: left;
    width: 33.33%;
    text-align: left;
    padding-right: 12px;
}

.footer .column-works {
    float: left;
    width: 33.33%;
    text-align: left;
    padding-right: 12px;
}

.footer .column-artworks {
    float: left;
    width: 33.33%;
    text-align: left;
    padding-right: 12px;
}

.footer-header {
    font-weight: 700;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.footer ul li {
    margin: 12px 0;
    color: #424242;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.block {
    height: auto;
    overflow: auto;
}

.myimg{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.circle {
    height: 160px;
    width: 160px;
    margin: 12px 6px;
}

.circle-area {
    cx: 80;
    cy: 80;
    r: 80;
}

#circle-profile .circle-area {
    fill: #009688;
}

#circle-profile a:hover circle {
    fill: #4DB6AC;
    transition: 100ms;
}

#circle-skills .circle-area {
    fill: #007BFF;
}

#circle-skills a:hover circle {
    fill: #00B2FF;
    transition: 100ms;
}

#circle-works .circle-area {
    fill: #E91E63;
}

#circle-works a:hover circle {
    fill: #F06292;
    transition: 100ms;
}

.donut-graph {
    r: 5;
    cx: 10;
    cy: 10;
    fill: transparent;
    stroke-width: 10;
}

.donut {
    height: 180px;
    width: 180px;
    margin: 24px;
}

div.gallery a {
    background-color: #fcfcfc;
}

div.gallery {
    margin: 18px;
}

div.gallery:hover {
    box-shadow: 0 0 12px 0 rgba(103, 58, 183, .24);
    transition: 100ms;
}

div.gallery img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
}

div.desc {
    min-height: 60px;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    padding: 13px 15px 15px 18px;
    background-color: #fcfcfc;
    text-align: left;
}

div.desc .gallery-desc {
    font-weight: 700;
    font-size: 16px;
    color: #673AB7
}

* {
  box-sizing: border-box;
}

.responsive {
  float: left;
  width: 33.33%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.contact-input {
    text-align: left;
    padding: 0 320px;
    margin: 36px 24px;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 8px 0 16px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, .12);
  box-sizing: border-box;
}

textarea[name=Message] {
    resize: none;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    height: 128px;
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px 0;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .12);
    word-wrap: break-word
}

input[type=submit] {
  width: 100%;
  background-color: #673AB7;
  color: white;
  padding: 14px 20px;
  margin: 0 0 16px 0;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7E57C2;
}

input[type=submit]:active {
  background-color: #5E35B1;
}
